.page-wrapper{
    position: relative;
}

.explanation{
     width: 60%;
     border-right: #lf295c 1px;
     padding-right: 2%;
}
#design-selection{
    position: absolute;
    top: 560px;
    left: 62%;
    padding-left: 1%;
    padding-right: 1%;
}